body{
    font-size: 17px;
}

img{
    width: 100%;
    object-fit: cover;
    max-width: 200px;
}

nav{
    display: flex;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2r;
}

